@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

/* COLOR */
:root {
    --color-white-100: #f7f7f7;
    --color-black-100: rgb(10, 10, 10);
    --color-grey-100: #F2F2F2;
    --color-grey-200: #D9D9D9;
    --color-blue-100: #DEEBFF;
    --color-blue-200: #0065FC;
    --color-blue-300: #0057DA;
}

/*GENERIQUE*/
* {
    font-family: "Raleway", "sans-serif";
    color: var(--color-black-100);
}

body {
    margin-left: 42px;
    margin-right: 36px;
}

main {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

h3 {
    font-weight: 700;
}


/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    padding-left: 15px;
}
.header__logo a{
    display: block;
}
.header__logo img{
    display: block;
    width: 100%;
    max-width: 80px;
    height: auto;
}
.header__nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.header__nav li {
    border-top: transparent 3px solid;
    transition: all .2s ease-in-out;
}

.header__nav li:hover {
    border-top-color: var(--color-blue-200);
    color: var(--color-blue-200);
}
.header__nav a {
    display: block;
    padding: 50px 30px;
    font-weight: 500;
}


/* TITLE */
#title {
    font-size: small;
    display: block;
}

h1 {
    font-size: x-large;
    display: flex;
}

h2 {
    font-size: initial;
    font-weight: 500;
    margin-bottom: 20px;
}

h1+h2 {
    display: flex;
}

/*SEARCH BAR */
.search-form {
    width: 100%;
    padding-bottom: 2%;
}

input::placeholder {
    color: var(--color-black-100);
}

.search-form form i {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
    background-color: var(--color-grey-100);
    width: 50px;
    object-fit: contain;
    font-size: x-large;
    color: var(--color-black-100);
}

.search-form form input {
    padding-left: 20px;
    border: 1px solid var(--color-grey-100);
    border-left: transparent;
    font-weight: bold;
    font-size: large;
    width: 340px;
}

.search-form form button {
    border: transparent;
    background-color: var(--color-blue-300);
    border-radius: 0px 20px 20px 0px;
    font-weight: bold;
    color: var(--color-white-100);
    width: 132px;
    font-size: large;
}

.search-form form {
    display: flex;
    height: 60px;
}

.search-form span {
    color: var(--color-white-100);
}

.fa-solid.fa-magnifying-glass {
    display: none;
}


/* FILTER */
.filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.filter__title {
    font-size: 18px;
    font-weight: 700;
    margin-right: 30px;
}
.filter__list {
    display: flex;
}
.filter__list > div:not(:last-child) {
    margin-right: 15px;
}
.filter__cta {
    position: relative;
    height: 45px;
    border: none;
    padding-left: 50px;
    padding-right: 20px;
    background-color: transparent;
    border: 2px solid var(--color-grey-200);
    border-radius: 60px;
    cursor: pointer;
}
.filter__cta i {
    position: absolute;
    left: 0px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: var(--color-blue-200);
    height: 41px;
    
}
.filter__cta:hover  {
    background-color: var(--color-blue-100);
    
    
}
.filter__cta span {
    font-weight: 700;
}

/* INFORMATION */
#information  {
    display: flex;
    flex-direction: row;
}

#information ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0;
    width: 100%;

}

#information > ul > li i{
    height: 26px;
    width: 26px;
    border: solid 3px var(--color-grey-100);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
    color: var(--color-blue-200);
    font-weight: 800;
    font-size: medium
}

#information ul li {
    font-size: large;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 10px;
}

/* ACCOMODATION */
#accomodation {
    display: flex;
    margin: 0 -10px;
}
#accomodation > section,
#accomodation > aside {
    padding: 0 20px;
}
#accomodation > section {
    width: 70%;
    padding-left: 0;
}
#accomodation > aside {
    width: 30%;
}

.accomodation {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.bg-grey {
    background-color: var(--color-grey-100);
    border-radius: 20px;
}
.accomodation .column {
    flex-direction: column;
}
.accomodation .column .c-card__media {
    width: 100%;
}

.accomodation__title {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 30px;
    width: 100%;
}
.accomodation__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.accomodation__content > div {
    width: 30%;
    padding: 0 10px;
    margin-bottom: 40px;
}

.accomodation__cta {
    font-weight: bold;
    border: transparent;
    background-color: var(--color-grey-100);
}
.lowPrice {
    font-weight: bold;
}

/* ACCOMODATION INLINE*/
.accomodation.accomodation--inline .accomodation__content {
    flex-direction: column;
    margin: 0;
    height: 700px;
    justify-content: space-between;
}
.accomodation.accomodation--inline .accomodation__content > div {
    width: 100%;
    padding: 0;
    height: 185px;
}

aside .card__content {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width: 80%;
}
aside .card__content > div {
    margin-top: auto; 
}

.fa-chart-line {
    color: var(--color-blue-200);
}

/* cards */
.card {
    border-radius: 20px;
    padding: 8px;
    background-color: var(--color-white-100);
    box-shadow: 1px -1px 20px 0px rgba(0,0,0,0.2);
}
.card__media {
    display: block;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    height: 170px;
}
.card__media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__content {
    padding: 10px;
}
.card__title,
.card__text {
    display: block;
    margin-bottom: 10px;
}
.card__title {
    
    font-weight: 700;
}
.card__text {
    font-size: 15px;
    font-weight: 500;
}

.card__content {
    margin: 10px;
}


/* CARD INLINE */
.card.card--inline {
    display: flex;
    
}
.card.card--inline .card__media {
    border-radius: 20px 0 0 20px;
    width: 150px;
    height: 150px;
}


aside 
.card__title {
    padding-top: 10px;
}


/* STARS */
.stars .fa-solid.blue {
    color: var(--color-blue-200);
}

.stars .fa-solid.grey {
    color: var(--color-grey-200);
}


/* ACTIVITIES */
#activities {
    width: 100%;
    margin-bottom: 40px;
}  

#activities section {
    display: block;
}

.activities {
    display: flex;
    width: 100%;
}

.activity__content {
    display: flex;
    width: 100%;
    min-height: 500px;
}

.activity__content > div {
    width: 25%;
    margin: 0 50px 0 0;
    box-shadow: 1px -1px 20px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    
}

.accomodation__title {
    font-weight: 700;
    
}

.activity__content  a {
    height: 100%;
}

.activity__content .card__media {
    height: 85%;
}

.activity__title {
    margin-top: 40px;
}


/* FOOTER */
.footer {
    background-color: var(--color-grey-100);
    padding: 50px 4%;
}
.footer__nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.footer__item {
    width: 33.33%;
}
.footer__item h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}
.footer__item a {
    display: block;
    font-weight: 400;
    font-size: 15px;
}
.footer__item a:not(:last-child) {
    margin-bottom: 10px;
}


@media (max-width: 1025px) {
    
    .filter__list {
        flex-wrap: wrap;
    }
    .filter__list > div:not(:last-child) {
        margin-right: 15px;
    }
    .filter__title {
        width: 100%;
        margin-bottom: 10px;
    }
    .filter__cta {
        margin-bottom: 10px;
    }
    
    .fa-solid.fa-magnifying-glass {
        display: none;
    }
    #accomodation {
        display: block;
        margin-left: 10px;
    }
    .accomodation.accomodation--inline .accomodation__content {
        flex-direction: row;
        height: auto;
        justify-content: center;
    }
    #accomodation section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    #accomodation  aside {
        width: 100%;
        padding: 0;
        margin-top: 50px;
    }
    .accomodation.accomodation--inline {
        flex-wrap: unset;
        flex-direction: column;
        height: 260px;
    }
    aside .accomodation__content  div a {
        height: 140px;
        width: 200px;
    }
    .accomodation__content > div {
        padding: 0px 10px;
    }    
    aside .accomodation__content {
        align-items: end;
        flex-wrap: unset;
    }
    .accomodation.accomodation--inline .accomodation__content > div {
        margin: 15px;
    }
    aside .card__content {
        padding: 0px 0px 0px 10px;
        width: 170px;
        margin: 0;
    }
    aside .card__text {
        padding-bottom: 5px;
        font-size: 12px;
    }
    .card.card--inline .card__media {
        width: 100px;
        height: 140px;
    }
    aside .card__title {
        font-size: 14px;
    }
    .activities {
        height: 340px;
        margin-bottom: 20px;
    }
    .activity__content {
        min-height: 0px;
    }
    .activity__content div {
        margin-right: 30px;
        height: 280px;
    }
    .activity__content a {
        height: 220px;
    }
}              

@media (max-width: 768px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }
    .header {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }
    .header__nav li {
        border-top: none;
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .header__logo img {
       margin-bottom: 20px; 
    }    
    nav {
        flex-direction: column;
        width: 100%;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    nav li {
        border-bottom: 3px solid transparent;
        border-top: 3px solid var(--color-white-100);
    }
    nav li:hover {
        border-bottom: solid var(--color-blue-200);
        color: var(--color-blue-200);
    }
    .search-form {
        width: 100%;
    }
    .search-form form {
        justify-content: center;
        height: 65px;
        margin: 10px;
    }
    .search-form form i{
        width: 70px;
    }
    .search-form form button {
        width: 70px;
    }
    .search-form .search-text {
        display: none;
        width: 80px;
    }
    .search-form form input {
        font-size: x-large;
    }
    .filter__list {
        display: flex;
        margin: 0 -10px;
        justify-content: center;
    }
    .filter__list > div {
        
        padding: 0 5px;
        width: 40%;
    }
    .filter__list > div:not(:last-child) {
        margin-right: 0;
    }
    .filter__cta {
        width: 160px;
    }
    .filter__title {
        width: 40%;
    }
    .fa-solid.fa-magnifying-glass {
        background-color: var(--color-blue-200);
        display: initial;
        color: var(--color-white-100);
    }
    #accomodation {
        display: flex;
        flex-direction: column;
    }
    #accomodation section {
        width: 100%;
        box-sizing: border-box;
    }
    .accomodation {
        flex-wrap: unset;
        flex-direction: column;
        width: 100%;
        background-color: var(--color-grey-100);  
    }
    .accomodation__content {
        flex-direction: column;
    }
    .accomodation__content > div {
        width: 100%;
        padding: 0px;
    }
    .accomodation__cta {
        display: none ;
    }
    #accomodation aside {
        order: 1;
        flex-direction: column;
        margin-bottom: 50px;
        margin-top: 0px;
        width: 97%;
        height: 50%;
    }
    aside .accomodation__content div a {
        width: 100%;
    }
    .card.card--inline .card__media {
        width: 200px;
    }
    #accomodation section {
        order: 2;
        height: 50%;
    }
    .accomodation.accomodation--inline .accomodation__content {
        flex-direction: column;
    }
    .accomodation.accomodation--inline {
        height: auto;
        box-sizing: border-box;
        border-radius: 20px;
    }
    .activity__content {
        flex-direction: column;
    }
    .activity__content > div {
        width: 100%;
        margin: 0 0px 40px 0;
        height: 270px;
    }
    .footer__nav {
        flex-direction: column;
    }
}    

